:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --background-color: #FFFFFF;
    --background-color-second: #F5F4FA;
    --background-color-futer: #2F303A;
    --color-logo: #000000;

}
body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* 
#EEEEEE - колір background в картинок в портфоліо
#FFFFFF60% колір text в футер: тел і милo
#ECECEC - колір background header в середині
*/

/* Утіліти */
.list{
    padding: 0;
    margin: 0;
list-style: none;
/* text-align: center; */
}
.linka{
    text-decoration: none;
}

/* header-all */
.header-all{
    display: flex;
    align-items: center;
}
/* container */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 4px solid tomato; */
    /* background-color: blueviolet; */
}

/* Header */

.header{
    background-color: var(--background-color);
}
.logo{
    color:#000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-web{
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
/* site-nav */
.site-nav{
    display: flex;
    margin-left: 93px;
}


.site-nav .item + .item{
    margin-left: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;

}


.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}

.current{
color: var(--accent-color);
}

/* contacts-nav */
.contacts-nav{
    display: flex;
    margin-left: auto;
}
.contacts-nav .item + .item{
    margin-left: 50px;
}


.contacts-nav .link{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
text-decoration: none;
}
.contacts-nav .link:hover, 
.contacts-nav .link:focus{
    color: var(--accent-color);
}


/* Замовити послугу Hero */
.service-title{
    margin-top: 0;
    margin-bottom: 30px;
color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero{
    background-color: #2F303A ;
    text-align: center;
}

/* button */
.button{
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 10px 32px;
color: var(--background-color);
background-color: var(--accent-color);
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
/* align-items: center; */
letter-spacing: 0.06em;

}

/* Переваги, advances*/

.advances-text .item{
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    background-color: tomato;
}

.advances-text{
    display: flex;
    flex-wrap: wrap;
} 

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advances{
    margin: 0;
    padding: 0;
    text-align: center;
    /* padding: 94px 215px; */
} 
.section-title-item{
    margin: 0;
    /* text-align: center; */
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

}

.section-title-advances-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    }

/* Чим займаємося */

.section-title{
    margin: 0;
    padding-bottom: 50px;
color:var(--title-text-color);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}

/* Команда */

.team{
    background-color:var(--background-color-second);
}
.section-title-name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    
    }

.section-title-work-pozition{
    margin: 0;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
}

/* Footer */

.footer{
    text-align: left;
}
.logo-footer{
    padding-top: 60px;

} 

.logo-studio{
color: var(--background-color);
}

.adres{
    padding-top: 20px;
    padding-bottom: 60px;
}
.footer-adress{

color: var(--background-color);
font-weight: 400;
font-size: 14px;
line-height: 1.7;
font-style: normal;
}
.footer-contacts{

color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}

.footer-adress:hover,
.footer-adress:focus{
color: var(--accent-color);
}
.footer-contacts:hover,
.footer-contacts:focus{
color: var(--accent-color);
}

/* Портфоліо */

.imput{
    display: block;
    justify-content: center;
    padding-top: 174px;
    padding-bottom: 34px;
}

.item-works{
    /* display: block;
    justify-content: center;
    align-items: center; */
    margin-right: 8px;
    
    
}
.item-works:last-child{
    margin-right: 0;
}
/* .item-works:not(:last-child) {
    margin-right: 8px;
} */

.button-works{
    display: inline-block;
    padding: 6px 25px;
color: var(--title-text-color);
background-color: #F5F4FA;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
border: 1px solid transparent;
}

.one{
min-width: 73px;
}
.two{
min-width: 125px;
}
.three{
min-width: 112px;
}
.four{
min-width: 103px;
}
.five{
min-width: 130px;
}

.button-works:hover,
.button-works:focus{
    color: var(--background-color);
    background-color: var(--accent-color);
}

/* .portfolio{
    display: flex;
    flex-wrap: wrap;
} */

.imgs{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    

}

.imgs-flex{
    margin-right: 30px;
    margin-bottom: 30px;
}
/* .imgs-flex {
    margin-right: 0; 
}   */
.imgs-flex:nth-last-child(-n+3) {
    margin-bottom: 0;
}

/* Альтернатіва */
/* .imgs-flex :not(:nth-child(3n)) {
    margin-right: 0; 
} */

.title-works{
    margin-left: auto;
    display: block;
    padding: 0 24px 20px 24px;
    margin-bottom: 4px;
    margin-top: 20px;
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--title-text-color)
}
.title-works-text{
    display: block;
    padding: 0 24px 20px 24px; 
    margin: 0;
font-size: 16px;
line-height: 1.9;
}

