:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --background-color: #FFFFFF;
    --background-color-second: #F5F4FA;
    --background-color-futer: #2F303A;
    --color-logo: #000000;

}
body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

}

    .list{
    list-style: none;
    }
    .linka{
        text-decoration: none;
    }

/* 
#EEEEEE - колір background в картинок в портфоліо
#FFFFFF60% колір text в футер: тел і милo
#ECECEC - колір background header в середині
*/

/* Header */

.header{
    background-color: var(--background-color);
}
.logo{
    color:#000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-web{
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
/* site-nav */

.site-nav .link{
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
text-decoration: none;

}


.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}

.current{
color: var(--accent-color);
}

/* contacts-nav */
.contacts-nav .link{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
text-decoration: none;
}
.contacts-nav .link:hover, 
.contacts-nav .link:focus{
    color: var(--accent-color);
}


/* Замовити послугу Hero */
.service-title{
color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero{
    background-color: #2F303A ;
}

/* button */
.button{
color: var(--background-color);
background-color: var(--accent-color);
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

}

/* Переваги, advances*/

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-title-item{color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

}

.section-title-advances-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    }

/* Чим займаємося */

.section-title{
color:var(--title-text-color);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}

/* Команда */

.team{
    background-color:var(--background-color-second);
}
.section-title-name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    
    }

.section-title-work-pozition{
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
}

/* Footer */

.logo-studio{
color: var(--background-color);

}
.footer-adress{
color: var(--background-color);
font-weight: 400;
font-size: 14px;
line-height: 1.7;
font-style: normal;
}
.footer-contacts{
color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
}

.footer-adress:hover,
.footer-adress:focus{
color: var(--accent-color);
}
.footer-contacts:hover,
.footer-contacts:focus{
color: var(--accent-color);
}

/* Портфоліо */

.button-works{
color: var(--title-text-color);
background-color: #F5F4FA;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;

}
.button-works:hover,
.button-works:focus{
    color: var(--background-color);
    background-color: var(--accent-color);
}
.title-works{
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--title-text-color)
}
.title-works-text{
font-size: 16px;
line-height: 1.9;
}

